* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f1f4;
}

a {
    color: inherit;
    text-decoration: none;
    outline: 1;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.mb-home {
    max-height: 25px;
    margin-top: -10px;
    width: 25px;
}

.header-top {
    height: 50px;
    line-height: 50px;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid #dcdddf;
    background: #FFF;
}

.header-top .time,
.header-top span i {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}

.language {
    float: right;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
}

.icon-search {
    font-size: 20px;
    color: #5a5a5a;
}

.header-social li {
    float: left;
    margin-left: 20px;
}

.header-social li a {
    text-decoration: none;
    color: white;
}


.banner {
    background: url(../img/banner.png);
    height: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo {
    float: left;
    margin-top: 22px;
}

.box-shadow {
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px 7px rgb(0 0 0 / 14%), 0 0 40px rgb(0 0 0 / 10%) inset;
}

.navbar {
    background: #063521;
    padding: 0px;
    border-top: 4px solid #367e6b;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    position: relative;
    /* border-bottom: 4px solid #063521; */
}

.navbar .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    bottom: 0;
    left: 0;
    display: none;
}

.navbar .navbar-nav .nav-link:hover::before {
    display: block;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link {
    color: #35b470;
    /* border-bottom: 4px solid #FFF; */
}

.nav-item-menu {
    padding-right: 15px;
}

.nav-item-menu a {
    position: relative;
    top: 12px;
    padding-right: 15px;
    width: 30px;
    height: 25px;
    background: url(../img/home-button.png) no-repeat;
    background-size: contain;
    display: block;

}

.nav-item-menu:hover a {
    position: relative;
    top: 12px;
    padding-right: 15px;
    width: 30px;
    height: 25px;
    background-size: contain;
    display: block;
    background: url(../img/home-hover.png) no-repeat;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    padding: 0;
    margin-top: 0;
    min-width: 190px;
    border-radius: 0;
    border: none;
}

ul.dropdown-menu {
    padding: 10px 0 !important;
}

.dropdown-item {
    text-decoration: none;
    background-color: #f8f9fa;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #35b470;
    text-decoration: none;
    background-color: #f8f9fa;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.main {
    width: 100%;
    margin-top: 10px;
}

.box-news {
    width: 700px;
}

.box-news .news-item-top {
    width: 100%;
    height: 550px;
    position: relative;
}

.home-new-slide .owl-pagination {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.home-new-slide .owl-page.active {
    background: #00884e;
}

.home-new-slide .owl-page {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: all .2s;
    margin-right: 10px;
    border: 1px solid #d5d4d4;
}

.home-new-slide .owl-controls {
    padding-top: 20px;
}

.left-item {
    background: #FFF;
    height: 100%;
}

.list-items {
    margin-bottom: 15px;
}

.left-item-double {
    height: 100%;
    background: #FFF;
}

.box-news .news-item .image img,
.box-news .news-item-top .image img {
    height: 100%;
    width: 100%;
}

.box-news .news-item-top .content {
    width: 100%;
    padding: 5px 10px 3px;
}

#news-slider .owl-dots {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px;
}

#news-slider .owl-dots button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #FFF;
    opacity: 1;
    border: 0;
    margin: 0 3px;
}

#news-slider .owl-dots button.active,
#slide-album .owl-dots button.active {
    background: #01864d;
}

#slide-album .owl-dots {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

#slide-album .owl-dots button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #FFF;
    opacity: 1;
    border: 0;
    margin: 0 3px;
    border: 1px solid #d5d4d4;
}

.slide-videos .owl-pagination {
    display: none;
}

.slide-videos .owl-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.slide-videos .owl-prev,
.slide-videos .owl-next {
    width: 35px;
    height: 35px;
}

.slide-videos .owl-prev {
    background: url(../img/arrow.png) no-repeat center !important;
    background-size: contain !important;
}

.slide-videos .owl-next {
    background: url(../img/arrow.png) no-repeat center !important;
    transform: scale(-1);
    background-size: contain !important;
}

.box-news .news-item-top .content {
    position: absolute;
    bottom: 0;
    background: #00000052;
    padding: 5px 10px 3px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.box-news .news-item-top .content .news-title {
    padding: 0 0 15px;
}

.box-news .news-item-top .content .news-title a {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    max-height: 48px;
}

.box-news .news-item-top .content .news-title a:hover {
    color: #35b470;
}

.box-news .news-item-top .content .sapo {
    overflow: hidden;
    margin-bottom: 0px;
    color: #323232;
}

.box-news .news-item-top .content .news-title .time {
    font-size: 14px;
    color: #fff;
    padding-left: 5px;
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.three-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


.news-item {
    padding: 0 20px 20px 20px;
}

.news-item+.news-item+.news-item {
    margin-right: 0px;
}

.news-item .image {
    width: 100%;
    overflow: hidden;
}

.news-item .content {
    width: 100%;
}

.news-item .news-title {
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    max-height: 60px;
    overflow: hidden;
}

.news-item .news-title a {
    color: #323232;
    font-size: 14px;
}

.no-height .ct-content-item {
    min-height: 0
}

.news-item .news-title a:hover {
    color: #35b470;
}

.list-news {
    width: 450px;
    margin-left: 13px;
}

.list-news-title {
    width: 100%;
    background: #01884e;
}

.list-news-title h3 {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
}

.list-news-items {
    width: 100%;
    background: #ffffff;
}

.list-item-scroll {
    max-height: 508px;
}

.list-item {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 15px;
    display: flex;
}

.list-item .title {
    line-height: 18px;
}

.list-item .title a {
    font-size: 14px;
    color: #323232;
    padding-left: 10px;
}

.list-item .thumb {
    width: 156px;
    height: 116px;
}

.inc-title {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    display: -webkit-box;
    color: #323232;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-calendar {
    background: url(../img/calendar.png);
    width: 22px;
    height: 22px;
    margin-right: 3px;
    background-repeat: no-repeat;
}

.headtime {
    background: url(../img/calendar1.png);
    padding-left: 20px;
    background-repeat: no-repeat;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    background-size: contain;
    margin-left: 10px;
}

.list-new-img {
    margin: 20px 5px;
}

.list-new-img .list-item {
    padding: 0;
    padding-right: 15px;
}

.list-item .datetime {
    color: #b4b4ba;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.list-item p {
    margin-left: 11px;
    display: inline-flex;
}

.list-item .datetime .time {
    font-size: 14px;
}

.list-item .title a:hover {
    color: #35b470;
}

.list-cate {
    float: left;
    width: 200px;
    margin-left: 13px;
}

.main-content {
    width: 100%;
    margin-bottom: 15px;
}

.col-left {
    float: left;
    width: 963px;
}

.col-left .left-item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 3px 7px #d3d3d3;
}

.col-left .cate-title {
    float: left;
    width: 100%;
}

.cate-title .heading {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 15px;
    /*background-image: linear-gradient(to right, #08482d, #00884e);*/
    margin-bottom: 0px;
    background: url("../img/bg-title.png") no-repeat left top, linear-gradient(to right, #08472d, #11954e);
    background-position: right;
    background-size: contain;
}

.cate-title-nobg .heading {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #08472d, #11954e);
}

.bg-green {
    background: #01884e !important;
}

.left-item-double .tab-content-item {
    float: left;
    width: 100%;
}

.left-item-double .tab-content-item .tc-item-content {
    float: left;
    width: 100%;
    padding: 18px;
}

.menu-link {
    background-color: #eff3fe;
    height: 56px;
    float: left;
    width: 100%;
}

.sup-menu {
    display: flex;
    justify-content: space-between;
}

.sup-menu li {
    flex: 1 1 auto;
    border-right: 1px solid #d3d3d3;
    text-align: center;
}

.sup-menu li:first-child {
    border-left: 1px solid #d3d3d3;
}

.sup-menu li a {
    font-size: 16px;
    color: #474747;
    text-transform: uppercase;
    display: block;
    line-height: 56px;
    text-align: center;
}

.sup-menu li:first-child a {
    text-align: left;
    padding-left: 40px;
}

.cate-tab {
    width: 100%;
    background: #FFF;
}

.center-list {
    padding-left: 0;
    padding-right: 0;
}

.cate-tab-left,
.cate-tab-right {
    float: left;
    width: 50%;
    position: relative;
}

.cate-tab-left::after {
    content: "";
    width: 1px;
    height: 270px;
    position: absolute;
    background: #d3d3d3;
    top: 40px;
}

.cate-tab-title {
    position: relative;
    float: left;
    height: 57px;
    width: 100%;
    padding: 27px 40px 0px;
    color: #2673b4;
    font-size: 16px;
    font-weight: bold;
}

.cate-tab.green-theme .cate-tab-title {
    color: #7db426;
}

.cate-tab.brown-theme .cate-tab-title {
    color: #b45f26;
}

.cate-tab-title:after {
    content: "";
    width: calc(100% - 80px);
    height: 1px;
    background: #000000;
    position: absolute;
    bottom: 0px;
    left: 40px;
}

.ct-content-item {
    width: 100%;
    padding-left: 30px;
    margin-top: 0;
    position: relative;
    min-height: 0px;
    margin-bottom: 10px;
}

.cate-tab .ct-content-item::before {
    content: "\e803";
    font-family: "fontello";
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 14px;
    color: #0b5d3a;
}

.cate-tab.green-theme .ct-content-item::before {
    color: #7db426;
}

.cate-tab.brown-theme .ct-content-item::before {
    color: #b45f26;
}

.ct-content-item .title {
    width: 100%;
    padding-right: 40px;
}

.ct-content-item .title a {
    font-size: 14px;
    color: #323232;
}

.ct-content-item .title a:hover {
    color: #35b470;
}

.ct-content-item .time {
    color: #b4b4ba;
    font-size: 14px;
    line-height: 20px;
}

.ct-content-button {
    width: 100%;
    text-align: right;
}

.cate-tab .ct-content-button .btn-viewmore {
    border: 1px solid #d3d3d3;
    color: #0b5d3a;
    font-size: 14px;
    padding: 5px 18px;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 600;
}

.cate-tab.green-theme .ct-content-button .btn-viewmore {
    color: #7db426;
}

.cate-tab.brown-theme .ct-content-button .btn-viewmore {
    color: #b45f26;
}

.col-right {
    float: left;
    margin-left: 20px;
    width: 393px;
}

.col-right .right-item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 3px 7px #d3d3d3;
}

.scroll-table {
    overflow-y: auto;
    scrollbar-color: #eee #fff;
    scrollbar-width: thin;
}

/* width */
.scroll-table::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}

/* Track */
.scroll-table::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
.scroll-table::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 3px;
}

/* Handle on hover */
.scroll-table::-webkit-scrollbar-thumb:hover {
    background: #686868;
}

.scroll-table::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 50px;
}

.scroll-table::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.cate-title .heading-right {
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
    float: left;
    width: 100%;
    height: 76px;
    line-height: 76px;
    color: #000000;
    margin-bottom: 0px;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}

.cate-title .heading-right.heading-right.blue-line-light {
    height: 67px;
    line-height: 67px;
}

.cate-title .heading-right::before {
    content: "";
    width: 4px;
    height: 30px;
    background: #d72924;
    position: absolute;
    top: 23px;
    left: 0px;
}

.cate-title .heading-right.blue-line {
    font-size: 22px;
}

.cate-title .heading-right.blue-line::before {
    background: #2673b4;
}

.cate-title .heading-right.blue-line-light::before {
    background: #4f93e3;
}

.cate-list {
    float: left;
    width: 100%;
    height: 407px;
    overflow-y: auto;
    background: url(../img/bg-chuyenmuc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.cate-list::-webkit-scrollbar {
    background-color: #fff;
    width: 8px;
}

.cate-list::-webkit-scrollbar-track {
    background-color: #fff;
}

.cate-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid #bdc8d8;
    background: fff;
    background-clip: padding-box;
}

.cate-ul {
    list-style: none;
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cate-ul li {
    float: left;
    width: 100%;
    padding-left: 40px;
    line-height: 33px;
}

.cate-ul li a {
    font-size: 16px;
    text-transform: uppercase;
}

.cate-ul li a:hover,
.cate-ul li .active {
    font-weight: bold;
    color: #2673b4;
}

.right-item .box-tab {
    float: left;
    width: 100%;
    box-shadow: 0px 3px 7px #d3d3d3;
}

.right-item .tab-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-item .tab-heading-item {
    flex: 1 1 auto;
    text-align: center;
    background: #eff3fe;
    color: #474747;
    font-size: 16px;
    line-height: 55px;
    text-transform: uppercase;
    border-right: 1px solid #d3d3d3;
    cursor: pointer;
}

.right-item .tab-heading-item:last-child {
    border-right: none;
}

.right-item .tab-heading-item.active {
    background: #2673b4;
    color: white;
    font-weight: bold;
}

.right-item .tab-content {
    float: left;
    width: 100%;
    padding: 15px;
    height: 350px;
}

.right-item .external-link {
    float: left;
    width: 100%;
}

.right-item .external-link .link-item {
    height: 73px;
    float: left;
    width: 100%;
    margin-bottom: 2px;
    position: relative;
}

.right-item .external-link .link-item::after {
    content: "";
    height: 2px;
    width: 100%;
    background: #275488;
    position: absolute;
    left: 0px;
    bottom: -2px;
}

.right-item .external-link .link-item a {
    display: block;
}

.right-item .external-link .link-item a img {
    width: 100%;
    height: 100%;
}

.website-link {
    width: 100%;
    padding: 10px;
}

.website-link .web-item {
    background: #e2ede8;
    border: 2px solid #c7d8d1;
    margin-bottom: 10px;
    padding: 5px;
}

.web-item img {
    max-height: 20px;
    padding-right: 5px;
    margin-top: -7px;
    padding-left: 5px;
}

.website-link .web-item a {
    font-size: 14px;
    color: #015613;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-website img {
    padding: 0 10px 10px 10px;
}

.logo-website-right img {
    padding: 0px 0px 10px 0;
    max-height: 115px;
}

.banner_knscc {
    padding: 0 0 0 10px !important;
}

.right-item .info-link {
    float: left;
    width: 100%;
}

.right-item .info-link-item {
    float: left;
    width: 100%;
    height: 66px;
    background: url(../img/bg-quochieu.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7px;
    padding-left: 18px;
    position: relative;
    border-radius: 5px;
}

.right-item .info-link-item.dang {
    background: url(../img/bg-dang.png);
}

.info-link-item a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.info-link-item .txt {
    font-size: 24px;
    font-weight: bold;
    color: white;
    line-height: 66px;
}

.info-link-item .txt1 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    float: left;
    width: 100%;
}

.info-link-item .txt2 {
    font-size: 18px;
    font-weight: bold;
    color: #f9e34b;
    float: left;
    width: 100%;
}

.col-right .right-item.non-bg {
    background: none;
    box-shadow: none;
}

.left-item.non-bg {
    background: none;
    box-shadow: none;
}

.left-item-double .box-tab {
    width: 100%;
    background: #FFF;
}

.left-item-double .box-tab .tab-heading {
    display: flex;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
}

.left-item-double .box-tab .tab-heading:first-child {
    border-left: none;
}

.left-item-double .box-tab .tab-heading-item {
    flex: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #474747;
    background: #e6eae8;
    cursor: pointer;
    padding: 8px 20px;
}

.tab-content-item {
    background: #FFF;
}

.left-item-double .box-tab .tab-heading-item.active {
    background: #88caa6;
    color: white;
    font-weight: bold;
}

.left-item-double .sub-tab {
    width: 100%;
    padding: 25px 18px;
}

.left-item-double .sub-tab-heading {
    display: flex;
}

.left-item-double .sub-tab-heading .sub-tab-item {
    flex: 1 1 auto;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.left-item-double .sub-tab-heading .sub-tab-item.active {
    color: #0b9800;
}

.left-item-double .sub-tab-heading .sub-tab-item::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0px;
    background: #0b9800;
}

.left-item-double .sub-tab-heading .sub-tab-item.active::after {
    background: #ff0000;
}

.left-item-double .sub-tab-content-item {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.vnindex {
    float: left;
    width: 100%;
}

.vnindex thead {
    background: #cecece;
    text-align: center;
}

.vnindex thead tr td {
    height: 30px;
}

.vnindex tbody tr td {
    padding-left: 10px;
    height: 30px;
}

.vnindex tbody tr td {
    text-align: center;
    padding-top: 8px;
}

.vnindex tbody tr td.up:after {
    content: '\e807';
    font-family: "fontello";
    color: #0b9800;
}

.vnindex tbody tr td.down:after {
    content: '\e806';
    font-family: "fontello";
    color: #f73e3e;
}

.mg-bottom-10 {
    margin-bottom: 10px !important;
}

.ngoai-te {
    float: left;
    width: 100%;
}

.ngoai-te thead td {
    height: 40px;
    color: #091015;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #bdbcbc;
}

.ngoai-te tbody tr td {
    height: 40px;
    color: #091015;
    text-align: center;
    font-size: 14px;
    border: 1px solid #bdbcbc;
}

.footer {
    float: left;
    width: 100%;
    background: #086536;
    padding: 20px 0px 10px 0;
}

.ft-left {
    float: left;
    position: relative;
}

.ft-left .logo-ft {
    display: inline-block;
    width: 100%;
}

.ft-left .logo-ft img {
    width: 90%;
}

.ft-left .img {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.ft-center {
    float: left;
    width: 700px;
    margin-bottom: 10px;
    border-left: 1px solid #a9a9a9;
    padding-left: 20px;
}

.fsize-24 {
    font-size: 24px;
}

.fsize-18 {
    font-size: 18px;
}

.ft-center p {
    color: white;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}

.ft-center-content {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.ft-ct-bot {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.ft-cate {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.ul-ft {
    float: left;
}

.ul-ft li {
    float: left;
    margin-right: 15px;
    border-right: 1px solid white;
    padding-right: 15px;
}

.ul-ft li a {
    color: white;
}

.ul-ft li:last-child {
    border-right: none;
}

.ft-right {
    float: left;
    width: 390px;
}

.traffic {
    float: left;
    width: 100%;
    padding: 10px 20px;
    background: #167846;
}

.traffic p {
    font-size: 16px;
    color: #FFF;
}

.traffic p:last-child {
    margin-bottom: 0px;
}

.ft-social {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.ul-social li {
    float: left;
    margin-left: 20px;
    width: 40px;
}

.ul-social li:first-child {
    margin-left: 0;
}

.ul-social li a {
    color: #6ecb9c;
    font-size: 16px;
}

.search {
    float: right;
    margin-right: 20px;
    position: relative;
}

.ul-ft li:hover a {
    color: #35b470
}

.search .box-search {
    position: absolute;
    right: 60px;
    height: 58px;
    bottom: -2px;
    width: 500px;
    display: none;
}

.search .box-search .input-search {
    margin-top: 10px;
    margin-left: 30px;
}

.search.active .box-search {
    display: inherit;
}

.search .search {
    font-size: 20px;
}

.ft-left .img img {
    max-width: 100%;
}

.btn-menu,
.head-menu,
.btn-search-mobile,
.search-box {
    display: none;
    z-index: 6;
}

.btn-search {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.btn-search:hover {
    color: #a3a3a3;
}

.content {
    position: relative;
}

.news-item-top .datetime {
    color: #b4b4ba;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 38px;
    z-index: 1;
    padding-left: 10px;
}

.opacity {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    position: fixed;
    left: 0;
}

.hidden {
    display: none;
}

.site-menu {
    width: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #063521;
    display: none;
    position: relative;
    z-index: 3;
    border-top: 2px solid #367e6b;
}

.site-menu__list {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    position: relative;
}

.site-menu__list>li {
    display: inline-block;
    font-size: 0;
    position: relative;
}

.site-menu__list>li>a {
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    padding: 10px 20px;
    overflow: hidden;
    position: relative;
    color: #FFF;
}

.site-menu__list li .active,
.menu-category .active {
    color: #2673b4;
}

.site-menu__list>li>a:first-child {
    padding-left: 0;
}

.site-menu i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #316ad1;
    border-radius: 100%;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

/*--------------Tin tuc-----------------*/
.breadcrumb-list img {
    max-width: 35px;
    padding: 0 7px;
    margin-top: -7px;
}

.breadcrumb-list a,
.breadcrumb-list {
    color: #a3a3a3;
}

.tin_tuc .list-tintuc h3 a {
    color: #08482d;
    font-size: 16px;
    font-weight: bold;
}

.tin_tuc .list-tintuc p {
    color: #323232;
    padding-right: 10px;
    margin-bottom: 5px;
}

.cate-list-right {
    width: 100%;
    background: #e5f6ed;
}

.cate-list-right ul {
    margin: 10px;
}

.cate-list-right ul>li {
    padding: 5px 10px;
    border-bottom: 1px solid #cbcbcb;
    color: #323232;
    text-transform: uppercase;
}

.cate-list-right ul>li:last-child {
    border: none;
}

.cate-list-right ul>li.active a {
    font-weight: bold;
    color: #35b470
}

.sub-menu>li {
    text-transform: none !important;
    border-bottom: 0 !important;
    display: flex;
    padding: 0 !important;
    position: relative;
}

.sub-menu>li a {
    color: #323232 !important;
    font-weight: normal !important;
    padding-left: 16px;
    margin-bottom: 10px;
}

.sub-menu>li::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #0b5d3a;
    left: 0;
    top: 7px;
}

.cate-list-right ul>li .sub-menu {
    display: none;
}

.cate-list-right ul>li.active .sub-menu {
    display: block !important
}

/*----------------Tin tức chi tiết --------------------*/
.breadcrumb {
    border-radius: 0;
    background-color: #eff3fe;
    font-size: 16px;
    color: #474747;
    margin: 0;
    padding: 15px 40px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\e803";
    font-family: "fontello";
    font-size: 16px;
    color: #2673b4;
}

.breadcrumb-item a:hover {
    color: #35b470;
}

.new-content {
    padding: 20px 15px;
}

.new-content h1.detail-title {
    color: #0e7741;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 5px;
}

.btn-time {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    color: #b4b4ba;
    padding-bottom: 20px;
}

.btn-time a {
    color: #0e7741;
}

.btn-time .datetime {
    color: #b4b4ba;
    font-weight: bold;
    font-size: 14px;
    display: flex;
}

.new-content .sapo-detail {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: justify;
    padding-bottom: 20px;
}

.img-fluid {
    width: 100%;
}

.new-content .author {
    font-weight: bold;
    color: #08472d;
}

.other-news,
.rating {
    padding: 10px 15px;
}

.other-news {
    width: 100%;
    margin-top: 10px;
}

.other-news-title h2,
.rating h2 {
    border-left: 6px solid #35b470;
    font-weight: bold;
    color: #35b470;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 7px;
    margin: 0
}

.other-news-title {
    padding: 5px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 5px;
}

.list-other {
    width: 100%;
}

.list-other li {
    margin-left: 15px;
}

.list-other a {
    position: relative;
    /*width: calc(100% - 20px);*/
    width: 100%;
    display: block;
    padding: 5px 20px;
    font-size: 14px;
}

.list-other a span {
    color: #35b470;
}

.list-other a:hover {
    color: #35b470;
}

.list-other a::before {
    width: 6px;
    height: 6px;
    background: #7c7c7c;
    content: '';
    position: absolute;
    left: 5px;
    top: 13px;
    border-radius: 100%;
}

.rating .rating-content {
    background: #fcfcfc;
    padding: 10px;
    border: 1px solid #f7f7f7;
    margin: 10px 0;
}

.list-item-right {
    padding: 0 10px;
    width: 100%;
    display: inline-block;
}

.list-item-right .thumb {
    width: 100px;
    height: 90px;
    float: left;
    overflow: hidden;
}

.list-item-right .inc-title-right {
    font-size: 14px;
    padding-left: 10px;
    display: -webkit-box;
    color: #323232;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* category */
.top-news-cate .news-item .ni-content .title-news {
    margin-bottom: 0;
}

.top-news-cate .post {
    float: left;
    max-height: 525px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.top-news-cate .ads-right {
    margin-top: 10px;
}

.bnc-item .datetime {
    color: #b4b4ba;
    font-size: 14px;
    font-weight: bold;
}

.bnc-item {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.bnc-image {
    float: left;
    width: 266px;
    height: 178px;
    overflow: hidden;
    margin-right: 20px;
}

.bnc-image img {
    min-height: 178px;
    width: 100%;
}

.bnc-content {
    width: calc(100% - 266px - 20px);
    float: left;
}

.bnc-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #323232;
}

.sapo-news p {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 0;
    color: #323232;
}

.new2-list {
    padding: 20px;
}

.new2-list h3 {
    font-size: 16px;
    font-weight: bold;
    color: #323232;
    padding: 15px 0 0 0;
}

.list-item-top img {
    height: 100%;
}

.top-list-image h3 {
    font-size: 14px;
    font-weight: bold;
}

.top-list-image .list-item-top {
    margin: 20px 5px 0 20px;
    position: relative;
    height: 100%;
}

.top-list-image-right .list-item-top {
    margin: 5px;
    position: relative;
    height: 100%;
}

.list-item-top h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #00000096;
    padding: 10px;
    margin-bottom: 0;
    color: #FFF;
}

.top-list-image-right .list-item-top h3 {
    position: absolute;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #00000096;
    padding: 5px;
    margin-bottom: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
}

.top-list-image-right {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 30px;
}

/* pagination */
.page-right {
    justify-content: right !important;
}

.pagination {
    justify-content: flex-end;
    margin-right: 20px;
}

.pagi-page {
    width: 100%;
    margin: 10px 0;
}

.page-link {
    width: 40px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    margin: 0 7px;
    color: #757575;
}

.page-link.active {
    background: #167846;
    color: #FFF;
}

.category-slider {
    margin-top: 13px;
    margin-bottom: 20px;
}

.category-slider .box-title {
    margin-bottom: 10px;
    width: calc(100% - 10px);
}

/* multi media */
.box-title3 {
    border-bottom: 2px solid #184454;
}

.title-cate-3 {
    background: #184454;
}

.title-cate-3::before {
    background: #184454;
}

.title-cate-3::after {
    background: #18808d;
}

.multi-media {
    background: #f8fbf2;
    border: 1px solid #e5e5e5;
    padding: 10px;
    padding-bottom: 1px;
    float: left;
    width: 100%;
}

.video {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.video-title {
    font-size: 18px;
}

.multi-media .col-md-4:last-child .v-item {
    border: none;
}

.right-video-img {
    position: relative;
}

.video-play {
    position: absolute;
    max-width: 50px;
    top: 40%;
}

.list-right_new li {
    padding: 5px;
    border-bottom: 1px solid #ebe7e7;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: nowrap;
    padding-left: 20px;
}

.list-right_new li a:hover {
    color: #35b470;
}

.list-right_new li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.list-right_new li {
    background: url(../img/icon_video_list.png) no-repeat;
    background-size: 16px;
    background-position: 0 12px;
}

.list-images-right {
    padding: 7px;
}

.right-image {
    padding: 10px 7px 10px 7px;
}

.list-images-right p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 0;
    padding-top: 5px;
}

.row-cs {
    margin-left: -35px;
    margin-right: -35px;
}

.v-item {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 10px;
    border-right: 1px solid #e5e5e5;
}

.v-item .video-title {
    min-height: 60px;
}

.v-item img {
    text-align: center;
    padding-bottom: 5px;
}

#slider {
    padding: 0 20px;
}

#slider .v-item {
    padding: 0;
    border: 0;
    margin-top: 10px;
}

#slider .owl-prev {
    background: url(../img/arrow-imgage.png) no-repeat;
    left: 15px;
    background-position: center center;
    background-size: contain;
}

#slider .owl-next {
    background: url(../img/arrow-imgage.png) no-repeat;
    transform: scale(-1);
    right: 15px;
    background-size: contain;
    background-position: center center;
}

#slider .owl-prev,
#slider .owl-next {
    width: 8px;
    height: 14px;
    position: absolute;
    top: 40%;
}

/*---------vote----------*/
.number_vote {
    background: url("../img/icon_user.png") no-repeat;
    padding-left: 20px;
    font-size: 16px;
    color: #000000;
    margin: 30px 0;
}

.progress,
.progress-bar {
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.progress_title {
    color: #373737;
    font-size: 18px;
    margin: 0;
}

.btn_vote {
    padding: 2px 30px;
    background: #35b470;
    border-radius: 3px;
    font-weight: bold;
    border: 0;
}

.vote_select .row {
    padding-bottom: 10px;
}

.vote_title {
    font-size: 16px;
    color: #373737;
    padding-top: 20px;
}

.form-check-inline {
    display: table;
    padding: 10px 0;
    font-size: 14px;
    color: #373737;
}

.vote_select .check_select {
    width: 40px;
    height: 30px;
    vertical-align: middle;
}

.form-check-label {
    vertical-align: middle;
}

[data-toggle="collapse"] .fa:before {
    content: " \25B2";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: " \25BC";
}

.btnrating {
    padding: 4px 10px;
}

/*----------- comment vote --------------*/
.rating-block {
    padding: 20px 0;
}

.rating-block-left {
    padding-left: 20px;
}

.point_vote {
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

.point_vote small {
    color: #838583;
}

.btn-default {
    border: 1px solid #b3aeae;
}

.div-star {
    margin: 5px 0;
    width: 100%;
}

.btn-warning .fa {
    color: #FFF;
}

.div-star .progress,
.div-star .progress-bar {
    height: 25px;
    font-size: 14px;
}

.div-vote-btn {
    text-align: right;
}

.div-vote-btn button {
    margin-top: -60px;
    ;
}

.hide-comment {
    border-bottom: 1px solid #ebebeb;
}

.list_comment {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
}

.comment-text {
    font-size: 14px;
    color: #535353;
    padding: 10px 0;
    margin: 0;
}

.comment-auth {
    position: relative;
    float: left;
    width: 100%;
}

.comment-auth .thumb {
    width: 80px;
    height: 80px;
    float: left;
    overflow: hidden;
    border: 1px solid #ebebeb;
    background: #FFF;
    margin-right: 20px;
    border-radius: 5px;
}

.comment-auth .thumb img {
    height: auto;
    width: 100%;
    padding: 10px 15px;
}

.comment-name {
    font-size: 16px;
    color: #535353;
    font-weight: bold
}

.comment-time {
    font-size: 13px;
    color: #a7a7a7;
}

/* thong ke  */
.thongke-item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 3px 7px #d3d3d3;
}

.thongke-item .cate-tab .ct-content-item::before {
    top: 3px;
    left: 40px
}

.thongke-item .ct-content-item span {
    color: #bbbcbc;
    font-size: 14px;
}

.thongke-item .ct-content-item {
    border-bottom: 1px solid #ebebeb;
}

.thongke-item .cate-tab .ct-content-button .btn-viewmore {
    margin: 10px 20px 20px 20px;
}

.thongke-item .ct-content-item {
    padding-left: 60px;
}

.thongke-right .collapsible,
.thongke-box-right .text-title {
    background: #1170c0;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}


.thongke-right .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.thongke-right .active:after {
    content: "\2212";
}

.thongke-right .content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: #FFF;
}

.thongke-right .content .list-items a,
.content-text .list-items a {
    padding: 2px;
}

.thongke-right .content .list-items a:hover,
.content-text .list-items a:hover {
    color: #35b470;
}

.thongke-right .content .list-items:last-child,
.content-text .list-items:last-child {
    padding-bottom: 10px;
}

.thongke-right .content .list-items,
.content-text .list-items {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 20px;
    padding-left: 30px;
}

.thongke-right .content .list-items:first-child,
.content-text .list-items:first-child {
    padding-top: 10px;
}

.thongke-right .content .list-items::before,
.content-text .list-items::before {
    content: "\e803";
    font-family: "fontello";
    font-size: 18px;
    color: #2673b4;
    position: absolute;
    left: 19px;
    height: 100%;
    float: left;
}

.content-text .list-items::before {
    left: 33px;
}

.thongke-box-right {
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 3px 7px #d3d3d3;
}

.thongke-item .ct-content-item::before {
    content: "\e803" !important;
    font-family: "fontello";
    position: absolute;
    top: -5px;
    left: 15px;
    font-size: 24px;
    color: #2673b4;
}

.datetime {
    display: flex;
}

.cate-tab-content {
    padding-bottom: 10px;
}

.ct-content-wrap {
    height: 230px;
}

.main-top {
    display: flex;
    flex-wrap: wrap;
}

.list-item-right .datetime {
    color: #b4b4ba;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.search img {
    width: 30px;
}

.list-item .content {
    width: calc(100% - 156px);
}





@media (max-width: 767px) {
    .box-news .news-item-top {
        height: 260px !important;
    }

    .ct-content-wrap {
        height: auto;
    }
}